/* HeroCard component styles - fixed sizing */

/* Fix card image to always be the same size */
.card .card-image img {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

/* Fix hero name title to have fixed space and handle overflow */
.card .card-content .card-title {
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
}
